<h3>Create New Vital</h3>

<form class="" action="/vitals" method="POST">
  <label for="blood_pressure">Blood Pressure</label><br>
  <input ="blood_pressure" type="text" name="blood_pressure" /><br>
  <label for="pulse">Pulse</label><br>
  <input ="pulse" type="integer" name="pulse" /><br>
  <label for="temperature">Temperature</label><br>
  <input ="temperature" type="float" name="temperature" /><br>
  <label for="oxygen_level">Oxygen Level</label><br>
  <input ="oxygen_level" type="float" name="oxygen_level" /><br>

  <input type="submit" value="Create New vital">
</form>

<a class="button" href="/vitals">All Vitals</a>
<a class="button" href="/">Home</a>
