<h3>Edit a Patient:</h3>

<form action="/patients/<%=@patient.slug%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch" />

    <label for="patient_name">Name</label><br>
    <input type="text" name="name" value=<%=@patient.name%> ><br>
    <label for="patient_medical_record_number">Medical Record Number</label><br>
    <input type="integer" name="medical_record_number" value=<%=@patient.medical_record_number%>><br>
    <label for="patient_date_of_birth">Date of Birth</label><br>
    <input type="date" name="date_of_birth" value=<%=@patient.date_of_birth%>.strftime("%Y-%m-%d")> <br>

    <input type="submit" value="Edit patient">
</form>

<a class="button" href="/patients">Patients</a>
<a class="button" href="/">Home</a>