<h2>Create New Patient</h2>

<form action="/patients" method="POST">
  <label for="patient_name">Name</label><br>
  <input id="patient_name" type="text" name="patient[name]" /><br>
  <label for="patient_medical_record_number">Name</label><br>
  <input id="patient_medical_record_number" type="text" name="patient[medical_record_number]" /><br>
  <label for="patient_date_of_birth">Date of Birth</label><br>
  <input id="patient_date_of_birth" type="text" name="patient[date_of_birth]" /><br>

  <input type="submit" value="Create New Patient">
</form>

<a class="button" href="/patients">patients</a>
<a class="button" href="/">Home</a>
