<h3>Create New Patient</h3>

<form class="" action="/patients" method="POST">
  <label for="name">Name</label><br>
  <input type="text" name="name" /><br>
  <label for="medical_record_number">Medical Record Number</label><br>
  <input type="integer" name="medical_record_number" /><br>
  <label for="date_of_birth">Date of Birth</label><br>
  <input type="date" name="date_of_birth" /><br>

  <input type="submit" value="Create New Patient">
</form>

<a class="button" href="/patients">Patients</a>
<a class="button" href="/">Home</a>

