<h1>Login to Vitals Tracking App!</h1>
<form method="post" action="/login">
  <label for="badge_number">Badge Number: </label>
  <input type="text" name="badge_number" value="">
  <label for="password">Password: </label>
  <input type="text" name="password" value="">
  <input type="submit" value="Login">
</form>

<a href="/">Back</a>