<h2>Nurses</h2>

<% unless locals.empty? %>
  <%= message %>
<% end %>


<h3>Sign Up</h3>
<form class="" action="/nurses" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Badge Number: <input type="integer" name="badge_number"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit" value = "Create Nurse">
</form>
