<p>Here are your patients, <%= @nurse.name %>
<table>
  <tr>
      <ul>
      Patients
        <%@nurse.patients.each do |patient|%>
        <li><a href="/patients/<%= patient.id %>"><%= patient.name %></a></li>
        <%end%>
      </ul>      
  </tr>
</table>
<br>


<a class="button" href="/">Go Home</a>