<h2>Welcome to Vitals Tracking App!</h2>
<p>Please signin or signup below:</p>

<nav>
  <% if logged_in? %>

    <a href="/patients/new">New Patient </a>
    <br><br>
    <a href="/logout">Log Out </a>
    <br><br>
    <p>Welcome, <%=current_user.name %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>